### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Gradle local caches and logs
.gradle-cache/
.gradle-build/
.gradle/8.*/
.gradle/*.lock
.gradle/**/*.bin
.gradle/**/*.lock
.gradle/**/*.tmp

# Local environment specific
/local.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Logs & Temp ###
*.log
*.tmp
*.bak
*.swp

### Compiled class files ###
*.class
*.jar
*.war
*.ear

### Others ###
/build
/.gradle
/mysql-data
node_modules/
.env
